.colection {

    &__inner {
        margin-bottom: 140px;

        @media screen and (max-width: 600px) {
            padding: 0 15px;
            margin-bottom: 60px;
        }
    }

    &__line {
        background: #6D7278;
        height: 3px;
        width: 225px;
        margin: 0 auto 24px auto;
    }

    &__subtite {
        font-family: $opens;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        color: #5A5A5A;

        margin: 0 auto 27px auto;
        max-width: 730px;
    }

    &-slide {
        display: flex;
        justify-content: center;
    }
    &-img {
        width: 350px;
        height: 350px;
        margin: 0 auto;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
}