.howisworks {
    &__inner {
        margin-bottom: 100px;

        @media screen and (max-width: 768px) {
            margin-bottom: 60px;
        }
    }

    &__content {
        position: relative;
    }

    &__list {
        display: flex;

        @media screen and (min-width: 768px) {
            height: 450px;
            justify-content: space-between;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    &__item {
        max-width: 268px;

        &:nth-child(even) {
            transform: translateY(calc(50% + 30px));

            @media screen and (max-width: 768px) {
                transform: translateY(0);
            }
        }

        &-title {
            font-family: $monts;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            color: #363838;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 14px;

            &::before {
                content: "";
                width: 42px;
                height: 42px;
            }

            &-des {
                &::before {
                    background: center / auto no-repeat url('../img/how_it_works/elem-1.svg');
                }
            }

            &-meas {
                &::before {
                    background: center / auto no-repeat url('../img/how_it_works/elem-2.svg');
                }
            }

            &-pro {
                &::before {
                    background: center / auto no-repeat url('../img/how_it_works/elem-3.svg');
                }
            }

            &-del {
                &::before {
                    background: center / auto no-repeat url('../img/how_it_works/elem-4.svg');
                }
            }
        }

        &-text {
            font-family: $opens;
            font-size: 16px;
            line-height: 27px;
            color: #5A5A5A;
        }
    }

    &__timeline {
        display: flex;
        align-items: center;

        @media screen and (min-width: 768px) {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(50%);
        }

        @media screen and (max-width: 768px) {
            display: none;
        }

        &-circle {
            width: 10px;
            height: 10px;
            background: #363838;
            border-radius: 10px;
        }

        &-line {
            width: 100%;
            height: 3px;
            background: #363838;
        }
    }
}