@import "./option/variable.scss";

.burger {
    position: relative;
    z-index: 500;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;

    width: 37px;
    height: 29px;
    cursor: pointer;

    @media screen and (min-width: 769px) {
        display: none;
    }

    &.active &__item:nth-child(odd) {
        width: 100%;
    }

    &__item {
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background-color: #000;
        transition: all .3s ease .0s;

        &:nth-child(odd) {
            width: 70%;
        }
    }
}

#body {
    &.lok {
        overflow: hidden;
    }
}

#fb,
#in,
#pi,
#wt,
#yo,
.mail {
    display: inline-flex;
    gap: 14px;
    align-items: center;

    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;

        @media screen and (max-width: 425px) {
            width: 24px;
            height: 24px;
        }
    }
}

#fb {
    &::before {
        background: center / contain no-repeat url("../img/footer/facebook.svg");
    }
}

#in {
    &::before {
        background: center / contain no-repeat url("../img/footer/instagram.svg");
    }
}

#pi {
    &::before {
        background: center / contain no-repeat url("../img/footer/Pinterest.svg");
    }
}

#wt {
    &::before {
        background: center / contain no-repeat url("../img/footer/whatsapp.svg");
    }
}

#yo {
    &::before {
        background: center / contain no-repeat url("../img/footer/youtube.svg");
    }
}

.mail {
    &::before {
        background: center / contain no-repeat url("../img/footer/mail.svg");
    }
}

.title {

    font-family: $monts;
    font-weight: 700;
    font-size: 36px;
    line-height: 51px;
    color: #363838;
    text-align: center;

    margin: 0 auto 29px;
    max-width: 430px;

    @media screen and (max-width: 768px) {
        font-size: 24px;
        line-height: 34px;
    }
}