.header {

    &__inner {
        position: relative;

        padding: 50px 0;

        & .container {
            display: flex;
            align-items: center;

            @media screen and (max-width: 768px) {
                justify-content: right;
            }
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        width: 100%;

        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: $fcol;


        @media screen and (max-width: 768px) {
            position: absolute;
            top: 0;
            right: -100%;
            z-index: 1000;
            transition: all .5s ease .1s;

            margin: 120px 0 0;
            height: 100vh;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;

            &.active {
                top: 0;
                right: 0;
                

                background: #fff;
            }
        }

        @media screen and (min-width: 769px) {
            display: flex;
        }
    }

    &__list {
        display: flex;
        gap: 75px;

        @media screen and (max-width: 768px) {
            & {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
            }
        }
    }

    &__item {
        opacity: .7;
        transition: all .3s ease;

        font-family: $monts;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;

        @media screen and (max-width: 768px) {
            font-size: 19px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100px;

        &-img {
            width: 100%;
        }
    }
}