@import 'option/reset.scss';
@import 'option/variable.scss';
@import 'option/mixin.scss';
@import 'option/fonts.scss';
@import 'general_styles.scss';

body,
html {
    position: relative;
    height: 100%;
}

.wrapper {
    @include wrapperWidth;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.container {
    @include containerWidth;
    margin: 0 auto;
    padding: 0 15px;
}

@import 'header.scss';
@import 'section/intro.scss';
@import 'section/colection.scss';
@import 'footer.scss';