// Змінні які потрібно задати
// 1. Максимальная ширина контейнера
$containerWidth: #{1140 + px};
$wrapperWidth: #{1920 + px};
// Шрифти
$opens: "OpenSans";
$monts: "Montserrat";
$fcol: rgba(54, 56, 56, 0.9033);